<%- include('../../base/includes/head', { pageTitle: "product title" }) %>
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/auth.css">
  <link rel="stylesheet" href="/styles/products.css">
  <script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%- include('../../base/includes/header') %>
  <main id="product-details">
    <header id="product-back">
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      <div id="product-info">
        <h1><%= product.title %></h1>
        <p>$<%= product.price %></p>
        <button class="btn" id="cart-button" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to cart</button>
      </div>
    </header>

    <p id="product-description"> <%= product.description %></p>
    


      

  </main>
<%- include('../../base/includes/footer') %>